* {
  padding: 0%;
  margin: 0%; }

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Comforter Brush', cursive;
  font-family: 'Estonia', cursive;
  font-family: 'Mukta', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Readex Pro', sans-serif; }

header {
  padding: 1em;
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly; }
  header h1 {
    text-align: center;
    animation-duration: 2s;
    animation-name: opacar;
    animation-iteration-count: inherit; }

@keyframes opacar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section {
  padding: 50px;
  background: aliceblue;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content 10em;
  row-gap: 5em;
  text-align: center; }
  section .categorias {
    display: grid;
    grid-column: 1/3;
    grid-template-rows: max-content 5em; }
  section .categorias-hijo {
    display: flex;
    justify-content: space-evenly; }
  section .input-uno {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.25s; }
  section .input-uno:hover, section .input-dos:hover, section .input-tres:hover {
    width: 85px;
    height: 40px;
    border-left: 8px solid rgba(0, 174, 255, 0.158);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  section .input-dos {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.25s; }
  section .input-tres {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.25s; }
  section .opinion {
    display: flex;
    justify-content: center; }
  section textarea {
    width: 300px;
    height: 20px;
    transition: all 2s; }
  section textarea:focus {
    width: 300px;
    height: 100px; }
  section div img {
    background: white;
    border-radius: 5px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    max-width: 30%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    section div img:hover {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      animation-duration: 0.25s;
      border-left: 8px solid rgba(0, 174, 255, 0.158);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

footer {
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly; }

@media screen and (max-width: 620px) {
  * header {
    background-color: chartreuse;
    font-size: small; }
  * section {
    display: flex;
    flex-direction: column; }
  * section div img {
    width: 250px; }
  * section textarea {
    width: 300px;
    height: 20px;
    transition: all 2s; }
  * section textarea:focus {
    width: 300px;
    height: 100px; }
  * footer {
    background-color: chartreuse; } }

@media screen and (max-width: 400px) {
  * header {
    background-color: chartreuse;
    flex-direction: column; }
  * section {
    display: flex;
    flex-direction: column; }
  * section textarea {
    width: 250px;
    height: 20px;
    transition: all 2s; }
  * section textarea:focus {
    width: 250px;
    height: 100px; }
  * footer {
    background-color: chartreuse; } }

@media screen and (max-width: 320px) {
  * header {
    background-color: chartreuse;
    font-size: x-small;
    display: flex;
    flex-direction: column; }
  * section {
    font-size: small;
    display: flex;
    flex-direction: column; }
  * section div img {
    width: 100px; }
  * section .categorias .categorias-hijo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px; }
  * section textarea {
    width: 200px;
    height: 20px;
    transition: all 2s; }
  * section textarea:focus {
    width: 200px;
    height: 100px; }
  * footer {
    background-color: chartreuse;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    text-align: center; } }
